<nav class="nav-menu">
    <div class="nav-div" onclick="mostrarConfig()"><img src="/images/configuracion.png" height="30" width="30"></div>
    <div class="nav-div"><a href="/inicio"><img src="/images/inicio.png" height="30" width="30"></a></div> 
    <div class="nav-div"><a href="/addMusic"><img src="/images/agregar.png" height="30" width="30"></a></div>
    
    <div class="nav-div"><a href="/administrar"><img src="/images/lista-musica.png" height="30" width="30"></a></div>
    <div class="nav-div"><a href="/administrar"><img src="/images/lista-imagenes.png" height="30" width="30"></a></div>
</nav>